#yearHr {
  width: 5%;
  display: block;
  height: 4px;
  border: 0;
  margin-top: 5px;
  padding: 0;
  background: linear-gradient(90deg, #751f2b 0, #dd522d 50%, #edd155 100%);
}

#brandOrModelHr {
  width: 2.6%;
  display: block;
  height: 4px;
  border: 0;
  margin-top: 5px;
  margin-left: 46%;
  padding: 0;
  background: linear-gradient(90deg, #751f2b 0, #dd522d 50%, #edd155 100%);
}

.yearselect-list{
    height: 80px;
    cursor: pointer;
    /* text-align: center; */
    text-align: -webkit-center;
}

.yearselect-list #button{
    /* border-radius: 4px; */
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-family: Nexa, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 30px;
    padding: 4px 6px;
    color: rgb(200, 200, 200);
    background-color: rgba(240, 248, 255, 0);
}



.yearselect-list p{
    /* color: white; */
    font-family: essonnes-display, serif;
    font-size: 50px;
}

.yearselect-list ul{
    list-style: none;
    margin-left: auto;
    padding-right: 30px;
    /* padding-left: 45%; */
    display: list-item;
}

.yearselect-list ul li{
  margin: 15px;
}

.yearselect-list ul li input{
  /* border-radius: 4px; */
  border-bottom: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-family: Nexa, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 30px;
  padding: 4px 6px;
  color: rgb(200, 200, 200);
  background-color: rgba(240, 248, 255, 0);
  /* border-style: none; */
}

/*SIDE SELECT ORDER */
.sideselect-list{
  height: 80px;
  cursor: pointer;
  /* text-align: -webkit-center; */
}

.sideselect-list p{
  /* color: white; */
  font-size: 50px;
}

.sideselect-list ul{
  list-style: none;
  margin-left: auto;
  /* padding-right: 30px; */
  padding-left: 45%;
  display: list-item;
}

.sideselect-list ul li{
margin: 15px;
}

.sideselect-list ul li input{
/* border-radius: 4px; */
border-bottom: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-family: Nexa, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 30px;
  padding: 4px 6px;
  color: rgb(200, 200, 200);
  background-color: rgba(240, 248, 255, 0);
/* border-style: none; */
}

.sideselect-list #buttonBrand{
  /* border-radius: 4px; */
  border-bottom: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-family: Nexa, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 30px;
  padding: 4px 6px;
  padding-left: 46%;
  color: rgb(200, 200, 200);
  background-color: rgba(240, 248, 255, 0);
}

/*SIDE SELECT ORDER COLORS*/
.sideselect-list-colors{
  height: 80px;
  cursor: pointer;
  text-align: -webkit-center;
}

.sideselect-list-colors p{
  /* color: white; */
  font-size: 50px;
}

.sideselect-list-colors ul{
  list-style: none;
  margin-left: auto;
  padding-right: 30px;
  display: list-item;
}

.sideselect-list-colors ul li{
margin: 15px;

}

.sideselect-list-colors ul li input{
/* border-radius: 4px; */
border-bottom: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-family: Nexa, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 30px;
  padding: 4px 6px;
  color: rgb(200, 200, 200);
  background-color: rgba(240, 248, 255, 0);
/* border-style: none; */
}

/* FORM BUTTON */
.sideselect-km-list{
  height: 80px;
  cursor: pointer;
  text-align: -webkit-center;
}

.sideselect-km-list > form{
  margin-top: 70px;
  width: 20%;
  display: inline-grid;
  gap: 15px;
}

.sideselect-km-list > form #kmInput{
  height: 50px;
  width: 100%;
  justify-self: center;
  background: linear-gradient(90deg, #751f2b 0, #dd522d 50%, #edd155 100%);
}

.sideselect-km-list > form #kmInput, textarea{
  color: #fff;
  font-size: 35px;
  font-family: Nexa, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
.sideselect-km-list > form #button{
  justify-self: center;
  margin-top: 30px;
  padding: 12px 15px;
  color: rgb(221, 221, 221);
  border: 2px solid #fff;
  letter-spacing: 1.2px;
  font-size: 20px;
  font-family: Nexa, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  opacity: 0.8;
  text-decoration: none;
  width: 55%;
  background-color: #ffffff00;
}