.button{
    margin: 6px 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover{
    background-position: right;
}

.primaryBtn{
    margin-top: 70px;
    padding: 12px 24px;
    color: rgb(200, 200, 200);
    border: 2px solid #fff;
    letter-spacing: 1.2px;
    font-size: 20px;
    font-family: Nexa, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    opacity: 0.8;
    text-decoration: none;
    width: 85%;
}

.secondaryBtn{
    margin-top: 40px;
    padding: 12px 15px;
    color: rgb(200, 200, 200);
    border: 2px solid #fff;
    letter-spacing: 1.2px;
    font-size: 20px;
    font-family: Nexa, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    opacity: 0.8;
    text-decoration: none;
    width: 75%;
}

.tertiaryBtn{
    background-color: rgb(25, 25, 25);
    padding: 12px 24px;
    border-radius: 15px;
    color: rgb(200, 200, 200);
    background-image: linear-gradient(to left, #2c2c54, #1b1b29, #16191f);
    background-size: 200%;
    font-weight: 600;
    letter-spacing: 1.2px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;  
    text-transform: uppercase;
    opacity: 0.8;
}

@media screen and (max-width: 1660px){
    .secondaryBtn{
        margin-top: 40px;
        padding: 12px 15px;
        color: rgb(200, 200, 200);
        border: 2px solid #fff;
        letter-spacing: 1.2px;
        font-size: 20px;
        font-family: Nexa, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        opacity: 0.8;
        text-decoration: none;
        width: 75%;
    }
}