.cover-container {
    display: flex;
    background-image: linear-gradient( to bottom left, rgb(255 255 255) -470%, rgb(14 14 14) 45%);
    height: 100vh;
}

.cover-container .cover-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px 0px 0px 20%
    /* height: 80vh; */
}


.cover-container .cover-img {
    width: 100%;
    display: flex;
    align-self: center;
    overflow: hidden;
    margin-top: 15%;
}

.cover-container .cover-img img{
    object-fit: cover;
    height: 55vh;
    opacity: 0.7;
}

.cover-container .cover-text > h1 {
    color: rgb(200, 200, 200);
    font-size: 55px;
    letter-spacing: 20px;
    font-family: Akko Regular;
    text-transform: uppercase;
}

.cover-container .cover-text > h3 > h2 {
    color: rgb(200, 200, 200);
    font-size: 40px;
    letter-spacing: 4px;
    /* font-family: Nexa, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; */
    font-family: Akko Regular;
    /* font-weight: lighter; */
}

.cover-container .cover-text > h3 {
    margin-top: -20%;
    color: rgb(200, 200, 200);
    font-size: 15px;
    letter-spacing: 4px;
    /* font-family: Nexa, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; */
    font-family: Akko Regular;
    font-weight: lighter;
}

#coverHr {
    display: block;
    height: 4px;
    border: 0;
    margin-top: 30px;
    padding: 0;
    background: linear-gradient(90deg, #751f2b 0, #dd522d 50%, #edd155 100%);
}

#refCompraCover{
    margin-top: 30px;
    padding: 12px 24px;
    color: rgb(200, 200, 200);
    border: 2px solid #fff;
    text-align: center;
    letter-spacing: 1.2px;
    font-size: 20px;
    font-family: Akko Regular;
    opacity: 0.8;
    text-decoration: none;
    width: 75%;
}

#logoCover{
    object-fit: cover;
    width: 85%;
    margin-top: -7%;
    margin-left: 5%;
    /* opacity: 0.7; */
}

.cover-button-modal{
    margin-top: 10%;
    text-align-last: center;
}

#modalCoverButton{
    background-image: linear-gradient( to bottom left, rgb(255 62 0) -75%, rgb(14 14 14) 45%);
    color: #e0e0e0;
    /* border: none; */
    width: 31%;
    height: 6vh;
    border-radius: 27px;
    font-family: Akko Regular;
    text-align: center;
    letter-spacing: 3px;
    font-size: 27px;
}

/* @media screen and (min-width: 1921px) and (max-width: 2200px){
    #logoCover {
        object-fit: cover;
        width: 70%;
        margin-top: 1%;
        margin-left: 15%;
    }
} */

@media screen and (max-width: 1660px){
    #logoCover {
        object-fit: cover;
        width: 60%;
        margin-top: 1%;
        margin-left: 15%;
    }

    .cover-container .cover-text > h3 {
        margin-top: -15%;
        color: rgb(200, 200, 200);
        font-size: 15px;
        letter-spacing: 4px;
        /* font-family: Nexa, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; */
        font-family: Akko Regular;
        font-weight: lighter;
    }

    .cover-container .cover-img img {
        object-fit: cover;
        height: 46vh;
        margin-top: 13%;
        opacity: 0.7;
    }

    #coverHr {
        display: block;
        height: 4px;
        border: 0;
        margin-top: 50px;
        padding: 0;
        background: linear-gradient(90deg, #751f2b 0, #dd522d 50%, #edd155 100%);
    }

    #refCompraCover {
        margin-top: 20px;
        padding: 12px 24px;
        color: rgb(200, 200, 200);
        border: 2px solid #fff;
        text-align: center;
        letter-spacing: 1.2px;
        font-size: 20px;
        font-family: Nexa, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        opacity: 0.8;
        text-decoration: none;
        width: 75%;
    }

    .cover-button-modal{
        margin-top: 10%;
        text-align-last: center;
    }

    #modalCoverButton{
        background-image: linear-gradient( to bottom left, rgb(255 62 0) -75%, rgb(14 14 14) 45%);
        color: #e0e0e0;
        /* border: none; */
        width: 31%;
        height: 6vh;
        border-radius: 27px;
        font-family: 'frutiger';
        text-align: center;
        letter-spacing: 3px;
        font-size: 20px;
    }
}

@media screen and (max-width: 1366px){
    #logoCover {
        object-fit: cover;
        width: 80%;
        margin-top: -5%;
        margin-left: 2%;
        /* opacity: 0.7; */
    }

    .cover-container .cover-text > h3 {
        margin-top: -15%;
        color: rgb(200, 200, 200);
        font-size: 14px;
        letter-spacing: 4px;
        /* font-family: Nexa, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; */
        font-family: Akko Regular;
    }

    .cover-container .cover-text > h3 > h2 {
        color: rgb(200, 200, 200);
        /* margin-top: 13%; */
        font-size: 30px;
        width: 85%;
        letter-spacing: 4px;
        /* font-family: Nexa, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; */
        font-family: Akko Regular;
        /* font-weight: lighter; */
    }

    .cover-container .cover-img img {
        object-fit: cover;
        height: 46vh;
        margin-top: 13%;
        opacity: 0.7;
    }

    #coverHr {
        display: block;
        height: 4px;
        border: 0;
        margin-top: 20px;
        padding: 0;
        background: linear-gradient(90deg, #751f2b 0, #dd522d 50%, #edd155 100%);
    }

    #refCompraCover {
        margin-top: 10px;
        padding: 12px 24px;
        color: rgb(200, 200, 200);
        border: 2px solid #fff;
        text-align: center;
        letter-spacing: 1.2px;
        font-size: 20px;
        font-family: Nexa, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        opacity: 0.8;
        text-decoration: none;
        width: 75%;
    }

    .cover-button-modal{
        margin-top: 10%;
        text-align-last: center;
    }

    #modalCoverButton{
        background-image: linear-gradient( to bottom left, rgb(255 62 0) -75%, rgb(14 14 14) 45%);
        color: #e0e0e0;
        /* border: none; */
        width: 31%;
        height: 6vh;
        border-radius: 27px;
        font-family: 'frutiger';
        text-align: center;
        letter-spacing: 3px;
        font-size: 20px;
    }
}

@media screen and (max-width: 960px){
    .cover-container > h1 {
        font-size: 70px;
        text-align: center;
    }

    .cover-container > p {
        text-align: center;
        font-size: 22px;
        width: 85%;
    }
}