.navbar{
    position: fixed;
    top: 0;
    background-color: #191e28;
    width: 100%;
    height: 70px;
    padding-left: 50px;
    font-size: 20px;
    z-index: 1;
}

.navbar-logo{
    height: 80px;
    line-height: 50px;
    cursor: pointer;
    display: flex;
    width: 100%;
}

.navbar-logo a{
    color: white;
    text-decoration: none;
}

#logoNav{
  width: 4%;
  height: 65%;
  opacity: 0.7;
}

.navbar-logo p{
    color: white;
    /* font-size: 50px; */
}

.navbar-logo ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 3rem;
    margin-left: auto;
    padding-right: 70px;
}

/* .navbar-logo ul li a,
.navbar-logo ul li a:after,
.navbar-logo ul li a:before {
  transition: all .5s;
}
.navbar-logo ul li a:hover {
  color: rgb(151, 40, 161);
} */

/* stroke */
/* .navbar-logo  ul li a,
.navbar-logo.fill ul li a {
  position: relative;
}
.navbar-logo ul li a:after,
.navbar-logo.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: rgb(153, 45, 153);
  height: 1px;
}
.navbar-logo ul li a:hover:after {
  width: 100%;
}

.navbar-logo.fill ul li a {
  transition: all 2s;
}

.navbar-logo.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
.navbar-logo.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
.navbar-logo.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
} */

.scrolling {
    padding-top: 20px;
    background-color: #212121;
    transition: all 0.5s ease;
}