.cover-container-consignaciones {
    display: grid;
    background-image: linear-gradient( to bottom left, rgb(255 255 255) -470%, rgb(14 14 14) 45%);
    height: 130vh;
}

.cover-container-consignaciones .info-consignacion {
    display: flex;
    height: 70vh;
}

.cover-container-consignaciones .info-consignacion .cover-text-consignaciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-left: 20%;
    /* padding: 0px 0px 0px 70px; */
    height: 70%;
    /* height: 80vh; */
}

.cover-container-consignaciones .info-consignacion .consignaciones-img {
        /* width: 140%; */
        display: flex;
        align-self: center;
        overflow: hidden;
        /* padding-right: 14%; */
        margin-top: 15%;
        /* margin-right: 29%; */
        margin-left: -95%;
}

.cover-container-consignaciones .info-consignacion .consignaciones-img img{
    object-fit: cover;
    width: 100%;
    height: 63vh;
    opacity: 1;
}

.cover-container-consignaciones .info-consignacion .cover-text-consignaciones > h1 {
    color: rgb(200, 200, 200);
    font-size: 55px;
    letter-spacing: 20px;
    font-family: Akko Regular;
    text-transform: uppercase;
}

.cover-container-consignaciones .info-consignacion .cover-text-consignaciones > h3 > h2 {
    color: rgb(200, 200, 200);
    font-size: 45px;
    letter-spacing: 4px;
    font-family: Akko Regular;
    font-weight: lighter; 
}

.cover-container-consignaciones .info-consignacion .cover-text-consignaciones > h3 {
    width: 80%;
    margin-top: -15%;
    color: rgb(200, 200, 200);
    font-size: 20px;
    letter-spacing: 4px;
    font-family: Akko Regular;
    font-weight: lighter;
}

hr {
    display: block;
    height: 4px;
    border: 0;
    margin-top: 80px;
    padding: 0;
    background: linear-gradient(90deg, #751f2b 0, #dd522d 50%, #edd155 100%);
}

#refCompra{
    margin-top: 60px;
    padding: 12px 24px;
    color: rgb(200, 200, 200);
    border: 2px solid #fff;
    text-align: center;
    letter-spacing: 1.2px;
    font-size: 20px;
    font-family: Akko Regular;
    opacity: 0.8;
    text-decoration: none;
    width: 75%;
}

.seccion-consignacion{
  background-image: linear-gradient( to top right, rgb(255 255 255 / 56%) -935%, #060606)
}

#logoConsignaciones{
  object-fit: cover;
  width: 70%;
  margin-top: 5%;
   /* margin-left: -8%;  */
}

/* CONSIGNACIONES LOCATION CARDS SECTION */
.home_list-wrap-consignaciones {
    overflow-y: auto;
    flex: 1;
    padding: 3rem;
  }

.list-wrap-consignaciones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5rem;
  }

.link{
    text-decoration: none;
  }

  .consignacion-title h1{
    margin-top: 5%;
    text-align: center;
    color: rgb(200, 200, 200);
    font-size: 65px;
    letter-spacing: 5px;
    font-family: Akko Regular;
    font-weight: lighter;
  }
  
  .listItem-wrap-consignaciones{
    background-image: linear-gradient( to bottom left, rgb(100 24 0) -50%, rgb(14 14 14) 45%);
    display: flex;
    margin-left: 5%;
    /* background: rgb(19, 19, 19); */
    flex-direction: column;
    box-shadow: 0 1px 5px 0 rgb(70 70 70 / 15%), 0 2px 2px 0 
                rgb(70 70 70 / 15%), 0 3px 2px -2px rgb(70 70 70 / 15%);
    box-sizing: border-box;
    border-radius: 0.375rem;
    height: 75%;
    width: 90%;
  }

  .listItem-wrap-consignaciones > svg{
    margin-top: 5%;
    color: rgb(200, 200, 200);
    width: 100%;
    height: 25%;
  }
  
  .listItem-wrap-consignaciones:hover {
    transform: scale(1.1);
    /* opacity: 0.7; */
  }
  
  .listItem-wrap-consignaciones img {
      width: 100%;
      border-radius: 15px;
      object-fit: cover;
      height: 230px;
    }
    .listItem-wrap-consignaciones header {
      display: flex;
      justify-content: space-between;
      margin: 1rem 0 1rem 0;
      align-items: center;
      flex-direction: column;
      padding-left: 10px;
    }

    .listItem-wrap-consignaciones header h1{
        display: flex;
        text-align: center;
        justify-content: space-between;
        font-size: 35px;
        /* letter-spacing: 5px; */
        font-family: Akko Regular;
        font-weight: 700;
        color: rgb(200, 200, 200);
      }

      .listItem-wrap-consignaciones header h2{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-left: 10px;
        font-size: 25px;  
        font-family: Akko Regular;
        color: rgb(200, 200, 200);
      }
  
    .listItem-wrap-consignaciones header h4{
      display: flex;
      justify-content: space-between;
      color: rgb(180, 180, 180);
    }
    
    .listItem-wrap-consignaciones header span {
      font-size: 0.7rem;
      /* background-color: #97ffff; */
      padding: 0.5rem;
      border-radius: 10px;
    }
    .listItem-wrap-consignaciones footer {
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 10px;
    }
  
    .listItem-wrap-consignaciones footer p{
      color: rgb(200, 200, 200);
      font-family: Akko Regular;
      font-weight: lighter;
      font-size: 20px;
    }

    .listItem-wrap-consignaciones footer p li{
        list-style: none;
      }
  
    .listItem-wrap-consignaciones footer p:first-child span {
      color: rgba(0, 0, 0, 0.26);
      font-weight: 600;
    }

  #buttonConsignacionesForm{
      justify-self: center;
      margin-right: 5%;
      color: rgb(221, 221, 221);
      border: 2px solid #fff;
      letter-spacing: 1.2px;
      font-size: 20px;
      font-family: Akko Regular;
      opacity: 0.8;
      text-decoration: none;
      width: 25%;
      background-color: #ffffff00;
  }

    /* END OF CONSIGNACIONES LOCATION CARDS SECTION */

@media screen and (max-width: 1660px){

  .cover-container-consignaciones {
    display: grid;
    background-image: linear-gradient( to bottom left, rgb(255 255 255) -470%, rgb(14 14 14) 45%);
    height: 130vh;
}

  .cover-container-consignaciones .info-consignacion {
    display: flex;
    height: 80vh;
  }

  .cover-container-consignaciones .info-consignacion .cover-text-consignaciones > h3 {
    width: 90%;
    margin-top: -15%;
    color: rgb(200, 200, 200);
    font-size: 17px;
    letter-spacing: 4px;
    font-family: Akko Regular;
    font-weight: lighter;
  }

  .cover-container-consignaciones .info-consignacion .cover-text-consignaciones > h3 > h2 {
    color: rgb(200, 200, 200);
    font-size: 50px;
    letter-spacing: 17px;
    font-weight: lighter;
}
  
.seccion-consignacion{
    background-image: linear-gradient( to top right, rgb(255 255 255) -240%, #060606 45%);
  }

  .consignacion-title h1{
    text-align: center;
    color: rgb(200, 200, 200);
    font-size: 50px;
    letter-spacing: 5px;
    font-family: Akko Regular;
    font-weight: lighter;
  }

  .list-wrap-consignaciones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5rem;
  }

  .listItem-wrap-consignaciones{
    background-image: linear-gradient( to bottom left, rgb(100 24 0) -50%, rgb(14 14 14) 45%);
    display: flex;
    margin-left: 0%;
    /* background: rgb(19, 19, 19); */
    flex-direction: column;
    box-shadow: 0 1px 5px 0 rgb(70 70 70 / 15%), 0 2px 2px 0 
                rgb(70 70 70 / 15%), 0 3px 2px -2px rgb(70 70 70 / 15%);
    box-sizing: border-box;
    border-radius: 1rem;
    height: 60%;
    width: 100%;
  }

  .listItem-wrap-consignaciones header h1{
    display: flex;
    justify-content: center;
    font-size: 28px;
    /* letter-spacing: 5px; */
    font-family: Akko Regular;
    font-weight: 700;
    color: rgb(200, 200, 200);
  }

  #logoConsignaciones{
    object-fit: cover;
    width: 80%;
    margin-top: 10%;
    /* margin-left: -8%; */
}

} 

@media screen and (max-width: 1440px){

  .seccion-consignacion{
    background-image: linear-gradient( to top right, rgb(255 255 255) -240%, #060606 45%);
  }

  .cover-container-consignaciones {
    display: grid;
    background-image: linear-gradient( to bottom left, rgb(255 255 255) -470%, rgb(14 14 14) 45%);
    height: 120vh;
}

  .cover-container-consignaciones .info-consignacion {
    display: flex;
    height: 70vh;
  }

  .cover-container-consignaciones .info-consignacion .cover-text-consignaciones > h3 {
    width: 90%;
    margin-top: -15%;
    color: rgb(200, 200, 200);
    font-size: 17px;
    letter-spacing: 4px;
    font-family: Akko Regular;
    font-weight: lighter;
  }

  .cover-container-consignaciones .info-consignacion .cover-text-consignaciones > h3 > h2 {
    color: rgb(200, 200, 200);
    font-size: 50px;
    letter-spacing: 17px;
    font-weight: lighter;
}

  .consignacion-title h1{
    text-align: center;
    color: rgb(200, 200, 200);
    font-size: 50px;
    letter-spacing: 5px;
    font-family: Akko Regular;
    font-weight: lighter;
  }

  .list-wrap-consignaciones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5rem;
  }

  .listItem-wrap-consignaciones{
    background-image: linear-gradient( to bottom left, rgb(100 24 0) -50%, rgb(14 14 14) 45%);
    display: flex;
    margin-left: 0%;
    /* background: rgb(19, 19, 19); */
    flex-direction: column;
    box-shadow: 0 1px 5px 0 rgb(70 70 70 / 15%), 0 2px 2px 0 
                rgb(70 70 70 / 15%), 0 3px 2px -2px rgb(70 70 70 / 15%);
    box-sizing: border-box;
    border-radius: 1rem;
    height: 60%;
    width: 100%;
  }

  .listItem-wrap-consignaciones header h1{
    display: flex;
    justify-content: center;
    font-size: 28px;
    /* letter-spacing: 5px; */
    font-family: Akko Regular;
    font-weight: 700;
    color: rgb(200, 200, 200);
  }

  #logoConsignaciones{
    object-fit: cover;
    width: 80%;
    margin-top: 10%;
    /* margin-left: -8%; */
}

}

@media screen and (max-width: 1366px){

  .cover-container-consignaciones {
    display: grid;
    background-image: linear-gradient( to bottom left, rgb(255 255 255) -470%, rgb(14 14 14) 45%);
    height: 135vh;
}

  .seccion-consignacion{
    background-image: linear-gradient( to top right, rgb(255 255 255 / 51%) -240%, rgb(11 11 11) 45%);
  }

  .cover-container-consignaciones .info-consignacion {
    display: flex;
    height: 80vh;
  }

  .cover-container-consignaciones .info-consignacion .cover-text-consignaciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-left: 12%;
    /* padding: 0px 0px 0px 70px; */
    height: 70%;
    /* height: 80vh; */
}

  .cover-container-consignaciones .info-consignacion .consignaciones-img {
    width: 265%;
    display: flex;
    align-self: center;
    overflow: hidden;
    /* padding-right: 14%; */
    margin-top: 25%;
    /* margin-right: 29%; */
    margin-left: -160%;
}

.cover-container-consignaciones .info-consignacion .consignaciones-img img{
    object-fit: cover;
    width: 100%;
    height: 71vh;
    opacity: 1;
}

  .cover-container-consignaciones .info-consignacion .cover-text-consignaciones > h3 {
    width: 75%;
    margin-top: -20%;
    color: rgb(200, 200, 200);
    font-size: 15px;
    letter-spacing: 4px;
    font-family: Akko Regular;
    font-weight: lighter;
  }

  .cover-container-consignaciones .info-consignacion .cover-text-consignaciones > h3 > h2 {
    color: rgb(200, 200, 200);
    font-size: 30px;
    letter-spacing: 17px;
    margin-top: 10%;
    font-family: Akko Regular;
    font-weight: lighter;
}

  .listItem-wrap-consignaciones > svg{
    /* margin-top: 5%; */
    color: #fff;
    width: 100%;
    height: 25%;
  }


  .consignacion-title h1{
    text-align: center;
    color: rgb(200, 200, 200);
    font-size: 50px;
    letter-spacing: 5px;
    font-family: Akko Regular;
    font-weight: lighter;
  }

  .list-wrap-consignaciones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5rem;
  }

  .listItem-wrap-consignaciones{
    background-image: linear-gradient( to bottom left, rgb(100 24 0) -50%, rgb(14 14 14) 45%);
    display: flex;
    margin-left: 0%;
    /* background: rgb(19, 19, 19); */
    flex-direction: column;
    box-shadow: 0 1px 5px 0 rgb(70 70 70 / 15%), 0 2px 2px 0 
                rgb(70 70 70 / 15%), 0 3px 2px -2px rgb(70 70 70 / 15%);
    box-sizing: border-box;
    border-radius: 1rem;
    height: 60%;
    width: 100%;
  }

  .listItem-wrap-consignaciones header h1{
    display: flex;
    justify-content: center;
    font-size: 25px;
    /* letter-spacing: 5px; */
    font-family: Akko Regular;
    font-weight: 700;
    color: rgb(200, 200, 200);
  }

  .listItem-wrap-consignaciones header h2 {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 17px;
    font-family: Akko Regular;
    color: rgb(200, 200, 200);
}

  #logoConsignaciones{
    object-fit: cover;
    width: 65%;
    margin-top: 10%;
    /* margin-left: -8%; */
  }

}

@media screen and (max-width: 960px){
    .cover-container > h1 {
        font-size: 70px;
        text-align: center;
    }

    .cover-container > p {
        text-align: center;
        font-size: 22px;
        width: 85%;
    }
}