#selectDivMain{
  background-image: linear-gradient( to bottom left, rgb(255 255 255) -700%, rgb(14 14 14) 45%);
  height: 100%;
}

.bodyDiv{
  padding-top: 110px;
  padding-bottom: 20px;
  border-bottom: 0.5px solid #0000004a;
}

.bodyDiv h1{
  text-align: center;
  font-family: essonnes-display, serif;
  color: rgb(200, 200, 200);
}