@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #151515;
}

input {
  font-family: 'Raleway', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.wassap{
  position: fixed;
  bottom: 5%;
  right: 3%;
  color: green;
}

.wassap > a{
  color: green;
}

.wassap > a:hover{
  color: green;
}

.wassap > a > svg{
  width: 100%;
  height: 60px;
}

@media screen and (max-width: 1366px){
  .wassap{
    position: fixed;
    bottom: 5%;
    right: 5%;
    color: green;
  }
  
  .wassap > a{
    color: green;
  }
  
  .wassap > a:hover{
    color: green;
  }
  
  .wassap > a > svg{
    width: 100%;
    height: 40px;
  }

}