body {
  margin: 0;
  font-family: Nexa, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Avenir Next';
  src: url("fonts/AvenirNextLTPro-Regular.otf"); /* File to be stored at your site */
  }

@font-face {
  font-family: 'Avenir Next It';
  src: url("fonts/AvenirNextLTPro-It.otf"); /* File to be stored at your site */
  }

@font-face {
  font-family: 'Akko Regular';
  src: url("fonts/AkkoProRegular.ttf"); /* File to be stored at your site */
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
